@using EPiServer.Reference.Commerce.Site.Features.Shared.Extensions
@model EPiServer.Reference.Commerce.Site.Features.Cart.Models.LargeCartViewModel

@{
    Layout = null;
}
<div class="section-box">
    <h4>@Html.Translate("/Cart/Heading")</h4>
</div>

<div class="checkout-cart jsLargeCart">
    @foreach (var cartItem in Model.CartItems)
    {
        <div class="media cart-item jsLineItemRow">
            <div class="media-left">
                <a href=" @cartItem.Url "><img src=" @cartItem.GetThumbnailUrl() " /></a>
            </div>
            <div class="media-body">
                @using (Html.BeginForm("RemoveLineItem", "Cart", FormMethod.Post, new { @class = "pull-right" }))
                {
                    @Html.Hidden("code", cartItem.Code)
                    <button role="button" class="btn btn-sm jsRemoveLineItem"><i class="glyphicon glyphicon-remove"></i></button>
                }
                <p><a href="@cartItem.Url">@cartItem.DisplayName</a></p>
                <ol class="block-list cart-item__values row">
                    <li class="col-xs-12 col-md-3">
                        @if (cartItem.Discounts.Any())
                        {
                            foreach (var discount in cartItem.Discounts)
                            {
                                <span>@discount.Displayname</span><br />
                            }
                        }
                    </li>
                    <li class="col-xs-12 col-md-3">
                        <strong>@Html.Translate("/Cart/Labels/Price")</strong>
                        @if (cartItem.Discounts.Any())
                        {
                            <span class="discount-price">@cartItem.DiscountPrice.ToString()</span>
                            <span class="original-price">(@cartItem.PlacedPrice.ToString())</span>
                        }
                        else
                        {
                            @cartItem.PlacedPrice.ToString()
                        }
                    </li>
                    <li class="col-xs-12 col-md-3">
                        <strong>@Html.Translate("/Cart/Labels/Quantity")</strong>
                        @using (Html.BeginForm("ChangeQuantity", "Cart", FormMethod.Post, new { @class = "form-inline jsQuantitySubmit" }))
                        {
                            @Html.TextBox("quantity", cartItem.Quantity.ToString("0"), new { @class = "form-control form-inline quantity jsQuantity" })
                            @Html.Hidden("code", cartItem.Code)
                        }
                    </li>
                    <li class="col-xs-12 col-md-3">
                        <strong>@Html.Translate("/Cart/Labels/Total")</strong>
                        @cartItem.ExtendedPrice.ToString()
                    </li>
                </ol>
            </div>
        </div>
    }
    <div class="media cart-item">
        <div class="media-left">
            <div class="cart-total-offset">&nbsp;</div>
        </div>
        <div class="media-body">
            <ol class="block-list cart-item__values row">
                <li class="col-xs-12 col-md-9">
                    @if (Model.TotalDiscount.Amount > 0)
                    {
                        <span class="discount-applied">
                            @Html.Translate("/Cart/Labels/DiscountsApplied")
                        </span>
                        @Html.Translate("/Cart/Labels/YouSave")
                        <strong>@Model.TotalDiscount.ToString()</strong>
                    }
                </li>
                <li class="col-xs-12  col-md-3">
                    <strong>@Html.Translate("/Cart/Labels/Total")</strong>
                    @Model.Total.ToString()
                </li>
            </ol>
        </div>
    </div>
</div>

