@using EPiServer.Reference.Commerce.Site.Features.Shared.Extensions
@model EPiServer.Reference.Commerce.Site.Features.Cart.Models.LargeCartViewModel

@{
    Layout = null;
}
<div class="quicksilver-well">
    <h4>@Html.Translate("/Cart/Heading")</h4>
</div>
<table class="table jsLargeCart">
    <thead>
        <tr>
            <td> </td>
            <td colspan="2">@Html.Translate("/Cart/Labels/Product")</td>
            <td>@Html.Translate("/Cart/Labels/Price") </td>
            <td>@Html.Translate("/Cart/Labels/Quantity")</td>
            <td>@Html.Translate("/Cart/Labels/Total")</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var cartItem in Model.CartItems)
        {
            <tr>
                <td class="edit">
                    @using (Html.BeginForm("RemoveLineItem", "Cart"))
                    {
                        @Html.Hidden("code", cartItem.Code)
                        <span class="edit-controll"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> <span class="jsRemoveLineItem">@Html.Translate("/Cart/Labels/Remove")</span></span>
                    }
                </td>
                <td><a href="@cartItem.Url"><img src="@cartItem.GetThumbnailUrl()" /></a></td>
                <td><a href="@cartItem.Url">@cartItem.DisplayName</a>
                    @if (cartItem.Discounts.Any())
                    {
                        <br />
                        foreach (var discount in cartItem.Discounts)
                        {
                            <br/>
                            <span>@discount.Displayname</span>
                        }
                    }
                </td>
                <td>
                    @if (cartItem.Discounts.Any())
                    {
                        <span class="discount-price">@cartItem.DiscountPrice.ToString()</span>
                        <span class="original-price">(@cartItem.PlacedPrice.ToString())</span>
                    }
                    else
                    {
                        @cartItem.PlacedPrice.ToString()
                    }
                    
                </td>
                <td>
                    @using (Html.BeginForm("ChangeQuantity", "Cart", FormMethod.Post))
                    {
                        @Html.TextBox("quantity", cartItem.Quantity.ToString("0"), new {@class = "form-control quantity jsQuantity"})
                        @Html.Hidden("code", cartItem.Code)
                    }
                </td>
                <td class="total-price">@cartItem.ExtendedPrice.ToString()</td>
            </tr>
        }
        @if (Model.TotalDiscount.Amount > 0)
        { 
        <tr>
                <td colspan="5" class="center">
                    <span class="discount-applied">@Html.Translate("/Cart/Labels/DiscountsApplied")</span>
                    @Html.Translate("/Cart/Labels/YouSave"): <strong>@Model.TotalDiscount.ToString()</strong>
                </td>
                <td class="total-price">
                    @Model.Total.ToString()
                </td>
        </tr>
        }
    </tbody>
</table>