@using EPiServer.Reference.Commerce.Site.Features.Shared.Extensions
@model EPiServer.Reference.Commerce.Site.Features.Cart.Models.LargeCartViewModel

@{
    Layout = null;
}

<h3>@Html.Translate("/Cart/Heading")</h3>

<div class="checkout-cart jsLargeCart">
    @foreach (var cartItem in Model.CartItems)
    {
        bool hasDiscount = (cartItem.Discounts.Any());
        string productLevelClass = hasDiscount ? "has-discount" : string.Empty;
        using (Html.BeginForm("ChangeCartItem", "Cart", FormMethod.Post, new { data_container = "MiniCart" }))
        {

            <div class="row cart-row @productLevelClass">
                <div class="col-xs-4 col-sm-2">
                    <a href="@cartItem.Url "><img src="@cartItem.ImageUrl" class="product-image" /></a>
                </div>
                <div class="col-xs-8 col-sm-10">
                    <div class="row">
                        <div class="col-sm-4">
                            <a href="@cartItem.Url" class="link--black">@cartItem.DisplayName</a>

                            <span class="product-brand xs-vertical-margin">@cartItem.Brand</span>
                            @if (cartItem.Discounts.Any())
                            {
                                <span class="product-price">@cartItem.PlacedPrice.ToString()</span>
                                <span class="product-price product-price--discount xs-vertical-margin">@cartItem.DiscountPrice.ToString()</span>
                            }
                            else
                            {
                                <span class="product-price xs-vertical-margin">@cartItem.PlacedPrice.ToString()</span>
                            }
                        </div>
                        <div class="col-sm-5">

                            <div class="row">
                                <div class="col-xs-6 xs-vertical-margin">
                                    @if (cartItem.Variant is EPiServer.Reference.Commerce.Site.Features.Product.Models.FashionVariant)
                                    {
                                        var fashionVariant = (EPiServer.Reference.Commerce.Site.Features.Product.Models.FashionVariant)cartItem.Variant;
                                        var size = fashionVariant.Size;
                                        @Html.Hidden("size", size.Trim())

                                        <strong>@Html.Translate("/ProductPage/Size")</strong><br />
                                        if ((bool)ViewData["IsReadOnly"])
                                        {
                                            @Html.DropDownList("newSize", new SelectList(cartItem.AvailableSizes, "", "", size), null, new { @class = "form-control form-inline form-field--narrow jsChangeCartItem", disabled = "disabled" })
                                        }
                                        else
                                        {
                                            @Html.DropDownList("newSize", new SelectList(cartItem.AvailableSizes, "", "", size), null, new { @class = "form-control form-inline form-field--narrow jsChangeCartItem" })
                                        }

                                    }
                                </div>

                                <div class="col-xs-6 xs-vertical-margin">
                                    <strong>@Html.Translate("/Cart/Labels/Quantity")</strong><br />
                                    @if ((bool)ViewData["IsReadOnly"])
                                    {
                                        @Html.TextBox("quantity", cartItem.Quantity.ToString("0"), new { @class = "form-control form-inline form-field--narrow jsChangeCartItem", disabled = "disabled" })
                                    }
                                    else
                                    {
                                        @Html.TextBox("quantity", cartItem.Quantity.ToString("0"), new { @class = "form-control form-inline form-field--narrow jsChangeCartItem" })
                                    }
                                    @Html.Hidden("code", cartItem.Code)

                                </div>

                            </div>

                        </div>
                        <div class="col-xs-6 col-sm-1 product-col-remove">
                            @if (!(bool)ViewData["IsReadOnly"])
                            {
                                <button role="button" class="btn btn-gray-lighter btn-sm jsRemoveCartItem"><i class="glyphicon glyphicon-remove"></i></button>
                            }
                        </div>
                        <div class="col-xs-6 col-sm-2 product-col-price text-right">
                            @cartItem.ExtendedPrice.ToString()
                        </div>

                    </div>
                </div>
            </div>
        }
    }
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        @if (Model.TotalDiscount.Amount > 0)
        {
            <span class="discount-applied">
                @Html.Translate("/Cart/Labels/DiscountsApplied")
            </span>
            @Html.Translate("/Cart/Labels/YouSave")
            <strong>@Model.TotalDiscount.ToString()</strong>
        }
    </div>
    <div class="col-xs-12 col-sm-6 text-right">
        <h4>@Html.Translate("/Cart/Labels/Total")</h4>
        @Model.Total.ToString()
    </div>
</div>
