@using EPiServer.Reference.Commerce.Site.Features.Shared.Extensions
@model EPiServer.Reference.Commerce.Site.Features.Cart.Models.MiniCartDetailsViewModel
@if (Model.ItemCount > 0)
{   
    <ul class="dropdown-menu jsCartDropdown" role="menu" data-item-count="@Model.ItemCount">
        @foreach (var cartItem in Model.CartItems)
        {
            <li class="cart-item">
                @using (Html.BeginForm("ChangeQuantity", "Cart"))
                {
                    <span class="pull-left object-description">
                        <img src="@cartItem.Variant.GetDefaultAsset()" alt="@cartItem.DisplayName">
                        <p class="mini-cart--objectDescription">
                            @cartItem.DisplayName
                        </p>
                    </span>
                    <span class="pull-right">
                        <span class="mini-cart--quantity">
                            <strong>@Html.Translate("/Cart/Labels/Quantity")</strong>
                            @Html.TextBox("quantity",cartItem.Quantity.ToString("0"),new {@class = "form-control quantity jsMiniCartQuantity"})
                            @Html.Hidden("code", cartItem.Code)
                            @Html.Hidden("miniCart", true)
                        </span>
                        <span class="mini-cart--price">
                            <strong>@Html.Translate("/Cart/Labels/Total")</strong>
                            <p class="total-price">@cartItem.ExtendedPrice.ToString()</p>
                        </span>
                    </span>
                }
            </li>
        }
     
        <li>
            <button type="button" class="btn btn-block btn--blue" aria-expanded="false" onclick="window.location.href='@Url.ContentUrl(Model.CheckoutPage)'">@Html.Translate("/Header/MiniCart/Button/GoToCheckout")</button>
        </li>
      
    </ul>
 }