@model EPiServer.Reference.Commerce.Site.Features.ResetPassword.ViewModels.ForgotPasswordViewModel
@using EPiServer.Web.Routing

<div class="container">
        @Html.PropertyFor(model => model.CurrentPage.MainBody)
</div>

@using (Html.BeginForm("ForgotPassword", null, new { language = ViewContext.RequestContext.GetLanguage() }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="col-md-12 col-sm-12">
        @Html.AntiForgeryToken()
        <hr />

        <div class="col-md-6 col-sm-6">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", autofocus = "autofocus", placeHolder = Html.Translate("/ResetPassword/Form/Placeholder/Email") })
            </div>
            <div class="form-group">
                @if (!(bool)ViewData["IsReadOnly"])
                {
                    <input type="submit" class="btn btn-primary" value="@Html.Translate("/ResetPassword/Form/Label/Send")" />
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger col-md-offset-1" })
                }
            </div>
        </div>
    </div>
}