@model EPiServer.Reference.Commerce.Site.Features.ResetPassword.ViewModels.ResetPasswordViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="col-md-12 col-sm-12">
        @Html.AntiForgeryToken()
        <h2>@Html.Translate("/ResetPassword/ResetPassword/Heading")</h2>
        <p>@Html.Translate("/ResetPassword/ResetPassword/Message")</p>
        <hr />

        <div class="col-md-6 col-sm-6">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.Code)

            <div class="form-group">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Html.Translate("/ResetPassword/Form/Placeholder/Email") })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Html.Translate("/ResetPassword/Form/Placeholder/Password") })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password2)
                @Html.PasswordFor(m => m.Password2, new { @class = "form-control", placeholder = Html.Translate("/ResetPassword/Form/Placeholder/Password2") })
                @Html.ValidationMessageFor(m => m.Password2, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="@Html.Translate("/ResetPassword/Form/Label/Reset")" />
            </div>
        </div>
    </div>
}
