@using EPiServer.Commerce.Order
@using EPiServer.Commerce.Order.Internal
@using EPiServer.Reference.Commerce.Site.Features.Shared.Extensions
@using EPiServer.Reference.Commerce.Site.Features.Checkout.Pages
@using Mediachase.Commerce
@model EPiServer.Reference.Commerce.Site.Features.Checkout.ViewModels.OrderConfirmationViewModel<OrderConfirmationPage>

<div class="row checkout">
    <div class="col-md-12">
        <h1>@Html.PropertyFor(x => x.CurrentPage.Title)</h1>
        <h2>@Html.Translate("/OrderHistory/Labels/OrderID") @Model.OrderId</h2>
        @Html.Translate("/OrderHistory/Labels/OrderDate") @Model.Created
        @if (Model.NotificationMessage != null)
        {
            <div class="alert alert-danger">
                @Model.NotificationMessage
            </div>
        }
    </div>
</div>

<div class="row checkout">

    <div class="col-md-12">
        @Html.PropertyFor(x => x.CurrentPage.Body)

        @if (Model.HasOrder)
        {
            <div class="row hidden-xs hidden-sm">
                <div class="col-md-7">@Html.Translate("/OrderConfirmation/Labels/Product")</div>
                <div class="col-md-1 text-right">@Html.Translate("/OrderConfirmation/Labels/Quantity")</div>
                <div class="col-md-1 text-right">@Html.Translate("/OrderConfirmationMail/UnitPrice")</div>
                <div class="col-md-1 text-right">@Html.Translate("/OrderConfirmationMail/Price")</div>
                <div class="col-md-1 text-right">@Html.Translate("/OrderConfirmationMail/Discount")</div>
                <div class="col-md-1 text-right">@Html.Translate("/OrderConfirmation/Labels/Total")</div>
            </div>

            foreach (ILineItem lineItem in Model.Items)
            {
                <hr />
                <div class="row">
                    <div class="col-md-1 col-xs-3">
                        <a href="@lineItem.GetUrl()" class="link--black"><img src="@lineItem.GetThumbnailUrl()" /></a>
                    </div>
                    <div class="col-md-6 col-xs-9">
                        <a href="@lineItem.GetUrl()" class="link--black">@lineItem.GetEntryContent().DisplayName</a>
                    </div>
                    <div class="col-md-1 col-xs-12 text-right">
                        <label class="col-xs-8 visible-xs visible-sm">@Html.Translate("/OrderConfirmation/Labels/Quantity")</label>
                        @lineItem.Quantity.ToString("0")
                    </div>
                    <div class="col-md-1 col-xs-12 text-right">
                        <label class="col-xs-8 visible-xs visible-sm text-right">@Html.Translate("/OrderConfirmationMail/UnitPrice")</label>
                        @Helpers.RenderMoney(lineItem.PlacedPrice, Model.Currency)
                    </div>
                    <div class="col-md-1 col-xs-12 text-right">
                        <label class="col-xs-8 visible-xs visible-sm text-right">@Html.Translate("/OrderConfirmationMail/Price")</label>
                        @Helpers.RenderMoney(lineItem.PlacedPrice * lineItem.Quantity, Model.Currency)
                    </div>
                    <div class="col-md-1 col-xs-12 text-right">
                        <label class="col-xs-8 visible-xs visible-sm text-right">@Html.Translate("/OrderConfirmationMail/Discount")</label>
                        @Helpers.RenderMoney(lineItem.GetEntryDiscount(), Model.Currency)
                    </div>
                    <div class="col-md-1 col-xs-12 text-right">
                        <label class="col-xs-8 visible-xs visible-sm text-right">@Html.Translate("/OrderConfirmation/Labels/Total")</label>
                        @lineItem.GetDiscountedPrice(Model.Currency)
                    </div>
                </div>
            }

            <table class="table">
                <tbody>
                    <tr>
                        <td class="text-right col-md-10">@Html.Translate("/OrderConfirmationMail/OrderLevelDiscounts")</td>
                        <td class="total-price text-right col-md-2">- @Model.OrderLevelDiscountTotal.ToString()</td>
                    </tr>
                    <tr>
                        <td class="text-right">@Html.Translate("/OrderConfirmationMail/HandlingCost")</td>
                        <td class="total-price text-right">@Model.HandlingTotal.ToString()</td>
                    </tr>
                    <tr>
                        <td class="text-right">@Html.Translate("/OrderConfirmationMail/ShippingSubtotal")</td>
                        <td class="total-price text-right">@Model.ShippingSubTotal.ToString()</td>
                    </tr>
                    <tr>
                        <td class="text-right">@Html.Translate("/OrderConfirmationMail/ShippingDiscount")</td>
                        <td class="total-price text-right">- @Model.ShippingDiscountTotal.ToString()</td>
                    </tr>
                    <tr>
                        <td class="text-right">@Html.Translate("/OrderConfirmationMail/ShippingCost")</td>
                        <td class="total-price text-right">@Model.ShippingTotal.ToString()</td>
                    </tr>
                    <tr>
                        <td class="text-right">@Html.Translate("/OrderConfirmationMail/TaxCost")</td>
                        <td class="total-price text-right">@Model.TaxTotal.ToString()</td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>@Html.Translate("/OrderConfirmationMail/Total")</strong></td>
                        <td class="total-price text-right"><strong>@Model.CartTotal.ToString()</strong></td>
                    </tr>
                </tbody>
            </table>

            <div class="row">
                <div class="col-md-6">
                    <div class="well quicksilver-well">

                        <h4>@Html.Translate("/OrderConfirmation/BillingDetails")</h4>
                        @Html.Partial("_Address", Model.BillingAddress)

                        <h4>@Html.Translate("/OrderConfirmation/ShippingDetails")</h4>
                        @foreach (var shippingAddress in Model.ShippingAddresses)
                        {
                            @Html.Partial("_Address", shippingAddress)
                        }

                    </div>
                </div>

                <div class="col-md-6">

                    @foreach (var payment in Model.Payments)
                    {
                        Html.RenderPartial("_" + payment.PaymentMethodName + "Confirmation", payment);
                    }

                </div>
            </div>

            <hr>

            <div class="row">
                @Html.PropertyFor(x => x.CurrentPage.RegistrationArea, new { ContactId = Model.ContactId, OrderNumber = Model.OrderGroupId })
            </div>
        }
        else
        {
            @Html.Translate("/OrderConfirmation/NoOrder")
        }
            </div>
            </div>
