@using EPiServer.Commerce.Order
@using EPiServer.Reference.Commerce.Site.Features.Shared.Extensions
@model EPiServer.Reference.Commerce.Site.Features.OrderHistory.ViewModels.OrderHistoryViewModel


<div class="container-fluid">
    <div class="row">
        @Html.Partial("_CmsNavigation", Model.CurrentPage)
        <div class="col-xs-12 col-sm-9">
            <div class="section-box">
                <h2>@Html.PropertyFor(x => x.CurrentPage.Name)</h2>
                @Html.PropertyFor(x => x.CurrentPage.MainBody)
            </div>

            @foreach (var order in Model.Orders)
            {
                var orderForm = order.PurchaseOrder.GetFirstForm();
                <hr />
                <div class="row section-box">
                    <div class="col-xs-12 col-sm-6">
                        <h3>@Html.Translate("/OrderHistory/Labels/OrderID") @order.PurchaseOrder.OrderNumber</h3>
                        <p>@Html.Translate("/OrderHistory/Labels/OrderDate") @order.PurchaseOrder.Created.ToLongDateString()<br>@Html.Translate("/OrderHistory/Labels/Status") <strong>@order.PurchaseOrder.OrderStatus</strong></p>
                        @Html.Translate("/OrderHistory/Labels/Payment")
                        @if (orderForm.Payments.Any())
                        {
                            @String.Join(", ", orderForm.Payments.Select(x => x.PaymentMethodName))
                        }
                        <br>
                        @Html.Translate("/OrderHistory/Labels/TotalPrice") @order.PurchaseOrder.GetTotal().ToString()
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <h4>@Html.Translate("/OrderHistory/Labels/ShippedTo")</h4>

                        @foreach (var shippingAddress in order.ShippingAddresses)
                        {
                            @Html.Partial("_Address", shippingAddress)
                        }

                    </div>
                    <div class="col-xs-12">
                        <h4>@Html.Translate("/OrderHistory/Labels/ObjectsOrdered")</h4>
                        <ul class="list-unstyled">
                            @foreach (var item in order.Items)
                            {
                                <li><a href="@item.LineItem.GetUrl()" class="link--black"><img src="@item.LineItem.GetThumbnailUrl()" /> @item.LineItem.DisplayName</a></li>
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</div>