@using EPiServer.Reference.Commerce.Site.Features.Shared.Extensions
@using Mediachase.Commerce.Orders
@model EPiServer.Reference.Commerce.Site.Features.OrderHistory.Models.OrderHistoryViewModel


<div class="container-fluid">
    <div class="row">
        @Html.Partial("_CmsNavigation", Model.CurrentPage)
        <div class="col-xs-12 col-sm-9">
            <div class="section-box">
                <h2>@Html.PropertyFor(x => x.CurrentPage.Name)</h2>
                @Html.PropertyFor(x => x.CurrentPage.MainBody)
            </div>

            @foreach (var order in Model.Orders)
            {
                var orderForm = order.PurchaseOrder.OrderForms.FirstOrDefault() ?? new OrderForm();
                var address = order.PurchaseOrder.OrderAddresses.FirstOrDefault() ?? new OrderAddress();
                <div class="row section-box">
                    <div class="col-xs-12 col-sm-6">
                        <h3>@Html.Translate("/OrderHistory/Labels/OrderID") @order.PurchaseOrder.TrackingNumber</h3>
                        <p>@Html.Translate("/OrderHistory/Labels/OrderDate") @order.PurchaseOrder.Created.ToLongDateString()<br>@Html.Translate("/OrderHistory/Labels/Status") <strong>@order.PurchaseOrder.Status</strong></p>
                        @Html.Translate("/OrderHistory/Labels/Payment")
                        @if (orderForm.Payments.Any())
                        {
                            @String.Join(", ", orderForm.Payments.Select(x => x.PaymentMethodName))
                        }
                        <br>
                        @Html.Translate("/OrderHistory/Labels/TotalPrice") @order.PurchaseOrder.ToMoney(order.PurchaseOrder.Total).ToString()
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <h3>@Html.Translate("/OrderHistory/Labels/ShippedTo")</h3>
                        <address>
                            <p>
                                <strong>@address.FirstName @address.LastName</strong>
                                <br>
                                @address.Line1
                                <br>
                                @address.City, @address.PostalCode
                                <br>
                                @if (!string.IsNullOrEmpty(address.DaytimePhoneNumber))
                                {
                                    <abbr title="Phone">P:</abbr> @address.DaytimePhoneNumber
                                }
                                <br>
                                <a href="mailto:@address.Email">@address.Email</a>
                            </p>
                        </address>
                    </div>
                    <div class="col-xs-12">
                        <h3>@Html.Translate("/OrderHistory/Labels/ObjectsOrdered")</h3>
                        <ul class="list-unstyled">
                            @foreach (var item in order.Items)
                            {
                                <li><a href="@item.LineItem.GetUrl()" class="link--black"><img src="@item.LineItem.GetThumbnailUrl()" /> @item.LineItem.DisplayName</a></li>
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</div>