@model IEnumerable<EPiServer.Reference.Commerce.Site.Features.Product.Models.ProductViewModel>
@{
    Layout = null;
}
<div class="quick-search">
    <ul>
        @foreach (var product in Model)
        {
            <li>
                <a href="@product.Url">
                    <div class="media">
                        <div class="media-left">
                            <img src="@product.Image" alt="@product.DisplayName" class="media-object" />
                        </div>
                        <div class="media-body">
                            <strong class="pull-right link--grey">@product.Price.ToString()</strong> @product.DisplayName 
                        </div>
                    </div>
                </a>
            </li>
        }
    </ul>
</div>