@using EPiServer.Reference.Commerce.Site.Features.AddressBook.Models
@using EPiServer.Shell.Web
@model AddressBookViewModel
<div class="container-fluid">
    <div class="row myPage">
        @Html.Partial("_CmsNavigation", Model.CurrentPage)
        <div class="col-xs-12 col-md-9 jsAddressBook">
            <div class="row mypages-header">
                <div class="col-xs-12 col-md-9">
                    <h2> @Html.Translate("/AddressBook/Available")</h2>
                </div>
                <div class="col-xs-12 col-md-3">
                    <button type="button" class="btn btn--blue btn-sm mypages-new-address-btn" onclick="window.location.href='@Url.Action("EditForm", "AddressBook", new { addressid = Guid.Empty })';">@Html.Translate("/AddressBook/Form/Label/NewAddress")</button>
                </div>
            </div>
            <div id="addressBook">
                @foreach (var address in Model.Addresses)
                {
                    <div class="row address-block">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3>
                                        @Html.Hidden("addressId", address.AddressId)
                                        @address.Name
                                    </h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    @Html.Partial("Address", address)
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <strong class="small">@Html.Translate("/AddressBook/Form/Label/DateModified")</strong>
                                    <p class="small">@address.Modified.ToFriendlyDateTimeString()</p>

                                    @if (address.BillingDefault)
                                    {
                                        <strong class="small text-success">@Html.Translate("/AddressBook/Form/Label/BillingAddress")</strong><br />
                                    }
                                    else
                                    {
                                        using (Html.BeginForm("SetPreferredBillingAddress", "AddressBook", new { addressId = address.AddressId }, FormMethod.Post))
                                        {
                                            <button type="submit" class="btn btn-xs">@Html.Translate("/AddressBook/Form/Label/SetBillingAddress")</button>
                                            <br />
                                        }
                                    }
                                    @if (address.ShippingDefault)
                                    {
                                        <strong class="small text-success">@Html.Translate("/AddressBook/Form/Label/ShippingAddress")</strong><br />
                                    }
                                    else
                                    {
                                        using (Html.BeginForm("SetPreferredShippingAddress", "AddressBook", new { addressId = address.AddressId }, FormMethod.Post))
                                        {
                                            <button type="submit" class="btn btn-xs">@Html.Translate("/AddressBook/Form/Label/SetShippingAddress")</button>
                                            <br />
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>