@model EPiServer.Reference.Commerce.Site.Features.Search.Models.FilterOptionFormModel
@{
    Layout = null;
}
<div class="col-sm-3 jsSearchFacets">
    <p class="select-label">@Html.Translate("/Category/SortBy")</p>
    @Html.DropDownList("FormModel.Sort", Model.Sorting, new { @class = "form-control jsSearchSort" })<br />
    <div class="section-box product-filtering choices">
        <h3>@Html.Translate("/Category/YourChoices")</h3>
        <ul class="nav">
            @for (var i = 0; i < Model.FacetGroups.Count; i++)
            {
                var facetGroup = Model.FacetGroups[i];
                for (var j = 0; j < facetGroup.Facets.Count; j++)
                {
                    var facet = facetGroup.Facets[j];
                    if (!facet.Selected)
                    {
                        continue;
                    }
                    <li>
                        <label style="font-weight: normal; display: block;">
                            @Html.CheckBox(string.Format("FormModel.FacetGroups[{0}].Facets[{1}].Selected", i, j),
                                new { @class = "jsSearchFacet", @style = "position: absolute;z-index: -100;", data_facetkey = @facet.Key, @checked = "checked" })
                            @facet.Name <span class="remove"></span>
                        </label>
                        @Html.TextBox(string.Format("FormModel.FacetGroups[{0}].Facets[{1}].Key", i, j), facet.Key, new { @hidden = "true" })
                    </li>
                }
            }
            <li>
                @Html.Translate("/Facet/Choices") @Model.TotalCount
            </li>
        </ul>
        <hr />
        @if (Model.FacetGroups.Any(x => x.Facets.Any(y => y.Selected)))
        {
            <button type="button" class="btn btn--flat btn-sm jsSearchFacetRemoveAll">@Html.Translate("/Category/RemoveAll") <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        }
    </div>

    <div class="section-box product-filtering">
        @for (var i = 0; i < Model.FacetGroups.Count; i++)
        {
            var facetGroup = Model.FacetGroups[i];
            if (i > 0)
            {
                <hr />
            }
            <h3>@facetGroup.GroupName</h3>
            @Html.TextBox(string.Format("FormModel.FacetGroups[{0}].GroupFieldName", i), facetGroup.GroupFieldName, new { @hidden = "true" })
            <ul class="nav">
                @for (var j = 0; j < facetGroup.Facets.Count; j++)
                {
                    var facet = facetGroup.Facets[j];
                    if (facet.Selected)
                    {
                        continue;
                    }
                    <li>
                        <label style="font-weight: normal; display: block;">
                            @Html.CheckBox(string.Format("FormModel.FacetGroups[{0}].Facets[{1}].Selected", i, j),
                                facet.Selected,
                                new { @class = "jsSearchFacet", @style = "position: absolute;z-index: -100;", data_facetkey = @facet.Key })
                            @facet.Name <span class="counter counter--medium">@facet.Count</span>
                        </label>
                        @Html.TextBox(string.Format("FormModel.FacetGroups[{0}].Facets[{1}].Key", i, j), facet.Key, new { @hidden = "true" })
                    </li>
                }
            </ul>
        }
    </div>
</div>