@model EPiServer.Reference.Commerce.Site.Features.Product.Models.ProductViewModel
<div class="product">
    <div class="product-image">
        <a href="@Model.Url">
            <div class="view-details"></div>
            <img src="@Model.Image" alt="@Model.DisplayName" class="img-responsive">
        </a>
    </div>
    <p>@Model.DisplayName</p>
    @if (Model.Price.Amount < Model.OriginalPrice.Amount)
    {
        <p class="discount-price"><strong>@Model.Price.ToString()</strong></p>
        <p class="original-price"><strong>@Model.OriginalPrice.ToString()</strong></p>
    }
    else
    {
        <p class="product-price">@Model.Price.ToString()</p>
    }
</div>