@model EPiServer.Reference.Commerce.Site.Features.Login.ViewModels.BackendLoginViewModel
@using EPiServer.Framework.Localization;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@Html.Translate("/Login/Form/Label/Login")</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow" />
    
    <link rel="stylesheet" type="text/css" href="@EPiServer.UriSupport.ResolveUrlFromUIBySettings("../../Util/styles/login.css")" />
    <link rel="stylesheet" type="text/css" href="@EPiServer.UriSupport.ResolveUrlFromUIBySettings("../../App_Themes/Default/Styles/system.css")" />
    <link rel="stylesheet" type="text/css" href="@EPiServer.UriSupport.ResolveUrlFromUIBySettings("../../App_Themes/Default/Styles/ToolButton.css")"/>
</head>
<body>
    <div class="top-bar"><img src="@EPiServer.UriSupport.ResolveUrlFromUIBySettings("../../Util/images/episerver-white.svg")" alt="logo" class="logo" /></div>
    <div id="LoginControl" class="js-login-wrapper login-wrapper">
        <div class="modal">
            @if ((bool)ViewData["IsReadOnly"])
            {
                <ol class="clearfix">
                    <li><img src="@EPiServer.UriSupport.ResolveUrlFromUIBySettings("../../Util/images/login/DXC_long.svg")" alt="logo" class="logo" /></li>
                    <li>
                        <h3 class="text--error">
                            @Html.Raw(LocalizationService.Current.GetString("/Readonly/Login"))
                        </h3>
                    </li>
                </ol>
            }
            else
            {
                using (Html.BeginForm())
                {
                    @Html.HiddenFor(x => x.ReturnUrl)
                    <ol class="clearfix">
                        <li><img src="@EPiServer.UriSupport.ResolveUrlFromUIBySettings("../../Util/images/login/DXC_long.svg")" alt="logo" class="logo"></li>
                        <li>
                            <h2 class="text--error"></h2>
                        </li>
                        <li>
                            @Html.LabelFor(x => x.Username)
                            @Html.TextBoxFor(x => x.Username, new { @class = "form-control", autofocus = "autofocus" })
                            @Html.ValidationMessageFor(x => x.Username)
                        </li>
                        <li>
                            @Html.LabelFor(x => x.Password)
                            @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Password)
                        </li>
                        <li>
                            <input type="submit" class="epi-button-child-item" value="@Html.Translate("/Login/Form/Label/Login")" />
                        </li>
                        <li>
                            <p class="text--small">
                                <a href="#" onclick="toggleCookieText(); return false;">
                                    When you log in, cookies will be used.
                                </a>
                            </p>
                            <div id="cookieInfoPanel" class="cookie-information">
                                <p class="text--small">
                                    A cookie containing login information will be sent to your web browser. If you do not want to receive cookies, you will be unable to log into the website.
                                </p>
                            </div>
                        </li>
                    </ol>
                }
            }
        </div>
    </div>
<script>
    var classes = [' img1', ' img2', ' img3'];
    document.getElementById("LoginControl").className += classes[Math.floor(Math.random() * classes.length)]

    function toggleCookieText() {
        document.getElementById("cookieInfoPanel").classList.toggle("is-visible");
        return false;
    }
</script>
</body>
</html>