@model EPiServer.Reference.Commerce.Site.Features.WishList.Models.WishListViewModel
<div class="container-fluid">
    <div class="row wishlist">
        @Html.Partial("_CmsNavigation", Model.CurrentPage)
        <div class="col-xs-12 col-md-9">
            <h2>@Html.PropertyFor(x => x.CurrentPage.Name)</h2>
            @if (!Model.Products.Any())
            {
                <div>
                    @Html.Translate("/WishList/NoItems")
                </div>
            }
            <div class="product-row">
                <div class="row">
                    @foreach (var product in Model.Products)
                    {
                        @Html.Partial("_ProductTile", product)
                    }
                </div>
            </div>

            <hr>
            <div class="action-buttons">
                @using (Html.BeginForm("DeleteWishList", "WishList"))
                {
                    <button role="button" type="submit" class="btn btn--blue"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> <span class="wishlist-footer-text"></span>@Html.Translate("/Wishlist/DeleteButton")</button>
                }
            </div>
        </div>
    </div>
</div>