@using EPiServer.Reference.Commerce.Site.Features.Shared.Extensions
@model EPiServer.Reference.Commerce.Site.Features.Checkout.Models.OrderConfirmationMailViewModel
@{
    Layout = null;
}
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        @Html.PropertyFor(x => x.CurrentPage.MainBody)
        @Html.Translate("/OrderConfirmationMail/OrderDate")<br />
    </div>
    <table>
        <thead>
            <tr>
                <td colspan="2">@Html.Translate("/OrderConfirmationMail/DisplayName")</td>
                <td>@Html.Translate("/OrderConfirmationMail/Quantity")</td>
                <td>@Html.Translate("/OrderConfirmationMail/Price")</td>
                <td>@Html.Translate("/OrderConfirmationMail/LineItemTotal")</td>
            </tr>
        </thead>
        <tr>
            <td colspan="3"></td>
            <td>@Html.Translate("/OrderConfirmationMail/ShippingCost")</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3"></td>
            <td>@Html.Translate("/OrderConfirmationMail/Total")</td>
            <td></td>
        </tr>
    </table>

    <div>
        <h4>@Html.Translate("/OrderConfirmation/ShippingDetails")</h4>
        <p>
            <br>
            <br>
            <br>
            <br>
        </p>
    </div>

    <div>
        <h4>@Html.Translate("/OrderConfirmationMail/PaymentDetails")</h4>
        <p>
            @Html.Translate("/OrderConfirmation/PaymentInfo/CardType"): 
            <br>@Html.Translate("/OrderConfirmation/PaymentInfo/Owner"): 
            <br>@Html.Translate("/OrderConfirmation/PaymentInfo/CardNumber"): 
            <br>@Html.Translate("/OrderConfirmation/PaymentInfo/ExpirationDate"): 
            <br>@Html.Translate("/OrderConfirmation/PaymentInfo/CVV"): **
        </p>
    </div>
</body>
</html>