@model EPiServer.Reference.Commerce.Site.Features.Checkout.ViewModels.CheckoutViewModel

<h3>@Html.Translate("/Checkout/Billing/Heading")</h3>

<div class="row">
    <div class="col-sm-12">
        <div class="jsCheckoutAddress" data-url="@Url.Action("ChangeAddress", "Checkout")">

            @Html.HiddenFor(model => model.BillingAddress.Name)
            @Html.HiddenFor(model => model.UseBillingAddressForShipment)
            @Html.HiddenFor(model => model.BillingAddress.DaytimePhoneNumber)
            @Html.HiddenFor(model => model.BillingAddress.BillingDefault)
            @Html.HiddenFor(model => model.BillingAddress.ShippingDefault)

            @if (User.Identity.IsAuthenticated)
            {
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.BillingAddress.AddressId,
                            new SelectList(Model.AvailableAddresses, "AddressId", "Name", !string.IsNullOrEmpty(Model.BillingAddress.AddressId) ? Model.BillingAddress.AddressId : string.Empty), new { @class = "form-control jsChangeAddress address-dropdown" })
                            <br />
                            <button class="btn btn-default btn--blue jsNewAddress" data-url="@Url.Action("EditForm", "AddressBook")" data-toggle="modal" data-target="#AddressDialog">@Html.Translate("/Checkout/MultiShipment/AddNewAddress")</button>
                            @Html.ValidationMessageFor(model => Model.BillingAddress.AddressId)
                        </div>
                    </div>
                </div>
            }
			else 
			{
				<div class="row">
					<div class="form-group col-md-6">
						@Html.LabelFor(model => model.BillingAddress.FirstName)
						@Html.TextBoxFor(model => model.BillingAddress.FirstName, new { @class = "form-control" })											
						@Html.ValidationMessageFor(model => model.BillingAddress.FirstName)
					</div>

					<div class="form-group col-md-6">
						@Html.LabelFor(model => model.BillingAddress.LastName)
						@Html.TextBoxFor(model => model.BillingAddress.LastName, new { @class = "form-control" })											
						@Html.ValidationMessageFor(model => model.BillingAddress.LastName)
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.BillingAddress.Email)
					@Html.TextBoxFor(model => model.BillingAddress.Email, new { @class = "form-control" })					
					@Html.ValidationMessageFor(model => model.BillingAddress.Email)
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.BillingAddress.Line1)
					@Html.TextBoxFor(model => model.BillingAddress.Line1, new { @class = "form-control" })					
					@Html.ValidationMessageFor(model => model.BillingAddress.Line1)
				</div>

				<div class="row">
					<div class="form-group col-md-4">
						@Html.LabelFor(model => model.BillingAddress.PostalCode)
						@Html.TextBoxFor(model => model.BillingAddress.PostalCode, new { @class = "form-control jsChangeTaxAddress" })						
						@Html.ValidationMessageFor(model => model.BillingAddress.PostalCode)
					</div>

					<div class="form-group col-md-8">
						@Html.LabelFor(model => model.BillingAddress.City)
						@Html.TextBoxFor(model => model.BillingAddress.City, new { @class = "form-control jsChangeTaxAddress" })						
						@Html.ValidationMessageFor(model => model.BillingAddress.City)
					</div>
				</div>

				@Html.EditorFor(model => model.BillingAddress.CountryRegion, Model.BillingAddress.CountryRegion)

				<div class="form-group">
					@Html.LabelFor(model => model.BillingAddress.CountryCode)
					@Html.DropDownListFor(model => model.BillingAddress.CountryCode, new SelectList(Model.BillingAddress.CountryOptions, "Code", "Name", Model.BillingAddress.CountryCode), new { @class = "form-control jsChangeCountry jsChangeTaxAddress" })					
					@Html.ValidationMessageFor(model => model.BillingAddress.CountryCode)
					@Html.Hidden("address-htmlfieldprefix", "BillingAddress.CountryRegion")
				</div>
			}
        </div>
    </div>
</div>
<div id="AddressDialog" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg modal--tall address-book-modal">
        <div id="AddressDialogContent"></div>
    </div>
</div>