@using EPiServer.Reference.Commerce.Site.Features.Shared.Extensions
@model EPiServer.Reference.Commerce.Site.Features.Checkout.Models.CheckoutViewModel
@{
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}

<div class="container-fluid" id="CheckoutView">

    @using (Html.BeginForm("Index", "Checkout", FormMethod.Get, new { id = "CheckoutViewRefreshForm" })) { }

    <div class="row section-box checkout jsCheckout">
        <div class="col-xs-12">
            <h2>@Html.PropertyFor(x => x.CurrentPage.Name)</h2>
            <h4>@Html.Translate("/Checkout/Coupons/Heading")</h4>
            <p class="small">@Html.Translate("/Checkout/Coupons/CouponCode/Info")</p>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <form class="form-inline discount" role="form">
                        <div class="input-group">
                            <label class="sr-only" for="exampleInputCode">discount code</label>
                            <input type="text" class="form-control form--blue" id="exampleInputCode" placeholder="">

                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default btn--blue">@Html.Translate("/Checkout/Coupons/CouponCode/Button")</button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="col-xs-12 col-md-6 keep-shopping-col">
                    <button role="button" onclick="window.location.href='@Model.ReferrerUrl'" class="btn btn-default btn--blue"><i class="glyphicon glyphicon-arrow-left"></i> @Html.Translate("/Checkout/Continue/Button")</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row section-box">
        <div class="col-xs-12">
            @{ Html.RenderAction("LargeCart", "Cart"); }
        </div>
    </div>

@if (!String.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="alert alert-danger">@Model.ErrorMessage</div>
            }

    @using (Html.BeginForm("Purchase", "Checkout", FormMethod.Post, new { @class = "jsCheckoutForm", @data_UpdateUrl = Url.Action("Update", null, null) }))
    {
    <div class="row section-box">
        <div class="col-xs-12">
            @{ Html.RenderPartial("Address", Model); }
        </div>
    </div>
    <div class="row section-box">
        <div class="col-xs-12">
            <h4>@Html.Translate("/Checkout/Payment/Heading")</h4>

            @{ Html.RenderPartial("Payment", Model); }
        </div>
    </div>
    <div class="row section-box">
        <div class="col-xs-12">
            @{ Html.RenderAction("OrderSummary"); }

            <button type="submit" class="btn btn-primary btn--blue pull-right">@Html.Translate("/Checkout/PlaceOrder")</button>
        </div>
    </div>
    }
</div>