@model EPiServer.Reference.Commerce.Site.Features.Checkout.ViewModels.OrderSummaryViewModel

<div class="jsOrderSummary" data-url="@Url.Action("OrderSummary")">
    <div class="quicksilver-well">
        <h4>@Html.Translate("/Checkout/OrderSummary")</h4>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <td><h4>@Html.Translate("/Checkout/SubTotal")</h4></td>
                <td class="total-price"><h4 class="pull-right">@Model.SubTotal.ToString()</h4></td>
            </tr>
            <tr>
                <td>
                    <h4> @Html.Translate("/Checkout/OrderLevelDiscounts")</h4>
                    @foreach (var discount in Model.OrderDiscounts)
                    {
                        @discount.DisplayName<br />
                    }
                <td class="total-price text-right">
                    <h4>- @Model.OrderDiscountTotal.ToString()</h4>
                    @foreach (var discount in Model.OrderDiscounts)
            {
                        <span>- </span>
                        @discount.Discount.ToString()<br />
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <h4>@Html.Translate("/Checkout/ShippingAndTax")</h4>
                    @Html.Translate("/Checkout/ShippingSubtotal")<br />
                    @Html.Translate("/Checkout/ShippingDiscount")<br />
                    @Html.Translate("/Checkout/ShippingTotal")<br />
                    @Html.Translate("/Checkout/TaxTotal")
                </td>
                <td class="total-price text-right">

                    <h4>@Model.ShippingTaxTotal.ToString()</h4>
                    @Model.ShippingSubtotal.ToString()<br />
                    - @Model.ShippingDiscountTotal.ToString()<br />
                    @Model.ShippingTotal.ToString()<br />
                    @Model.TaxTotal.ToString()
                </td>
            </tr>
            <tr>
                <td><h4>@Html.Translate("/Checkout/CartTotal")</h4></td>
                <td class="total-price"><h4 class="pull-right">@Model.CartTotal.ToString()</h4></td>
            </tr>
        </tbody>
    </table>
</div>